html {
  position: relative;
  min-height: 100%;
  background-color: gainsboro;
}
body {
  background-color: gainsboro;
  margin-bottom: 90px;
  margin-top: 115px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #302e2e;
}
.footer .container {
  color: #777777;
  margin: 0;
  padding: 15px;
}
.navbar {
  background-color: #302e2e;
  padding-top: 40px;
  height: 95px;
}
.navbar-brand {
  outline: 0;
  font-weight: 900 !important;
  margin-right: 40px !important;
  margin-left: 10px !important;
  padding: 0 !important;
  height: 20px !important;
  font-size: large;
}
.navbar-brand:hover {
  color: darkgray !important;
}
.navbar-brand:hover span {
  color: #ff0000;
}
.navbar-brand span {
  border-top: none !important;
  margin-right: 10px !important;
  color: #e00007;
  font-size: xx-large;
  top: 8px !important;
}
.navbar-right li a {
  top: 5px;
  padding-top: 10px !important;
  outline: 0;
  border-top: 2px solid #e00007;
}
.navbar-right li a:hover,
.navbar-right li a:active,
.navbar-right li a:focus {
  border-top: 2px solid #ff0000;
  color: darkgray !important;
  outline: 0;
}
.navbar-searchbar {
  padding-right: 40px;
}
.navbar-searchbar input {
  width: 400px !important;
  background-color: #302e2e;
  border-color: #e00007;
  color: #a9a9a9;
  height: 30px !important;
}
.navbar-searchbar input:focus {
  border-color: #ff0000;
  box-shadow: 0 0 5px #ff0000;
}
.navbar-searchbar button {
  height: 30px !important;
  background-color: #e00007;
  border-color: #e00007;
  color: #ffffff;
}
.btn.red:hover {
  background-color: darkred;
}
.container {
  margin: auto;
}
.container .left {
  float: left;
  display: inline-block;
}
.container .right {
  float: left;
  display: inline-block;
.navbar-searchbar button:hover,
.navbar-searchbar button:active,
.navbar-searchbar button:focus {
  background-color: #ff0000 !important;
  box-shadow: 0 0 5px #ff0000 !important;
  border-color: #ff0000 !important;
  color: #ffffff !important;
}
.item-list {
  overflow-y: scroll;
  overflow-x: visible;
  height: 100%;
  width: 100%;
}
.item-list .item {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.item-list .item a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.item-list .item a:link {
  color: #000000;
}
.item-list .item a:visited {
  color: #000000;
}
.item-list .item a:hover {
  color: #000000;
}
.item-list .item a:active {
  color: #000000;
}
.item-list .item a:hover {
  text-decoration: none;
}
.item-list .item:hover {
  background-color: #ff4d4d;
}
.title-tooltip {
  display: block;
  width: 200px;
  font-weight: bold;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden !important;
}
.price-tooltip {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}
.left-products-list {
  width: 35%;
  margin-right: 5%;
  height: 500px;
  border: 1px solid black;
}
.right-product-graph {
  width: 45%;
  height: 500px;
  border: 1px solid black;
}
#container-profile {
  margin-bottom: 60px;
  display: inline-block;
}
.hover {
  position: relative;
}
.hover .tooltip {
  border: red;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  display: none;
  position: fixed;
  z-index: 1000000;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.form-modal {
  margin: auto;
  background-color: #ff726b;
  box-shadow: 0 0 1em black;
  border-radius: 3px;
}
.form-modal form {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  animation: invisiblility 0.5s forwards;
}
.form-modal ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: 300;
}
.form-modal :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  opacity: 1;
  font-weight: 300;
}
.form-modal ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  opacity: 1;
  font-weight: 300;
}
.form-modal :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: 300;
}
.form-modal input[type=text],
.form-modal input[type=email],
.form-modal input[type=password] {
  align-self: center;
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.25);
  margin: 15px auto 10px;
  width: 250px;
  text-align: center;
}
.form-modal input[type=text]:focus,
.form-modal input[type=email]:focus,
.form-modal input[type=password]:focus {
  width: 280px;
  height: 120%;
  background-color: rgba(255, 255, 255, 0.6) !important;
}
.form-modal input[type=text]:hover,
.form-modal input[type=email]:hover,
.form-modal input[type=password]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.form-modal #text {
  order: 1;
  align-self: center;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  visibility: visible !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.form-modal .button-form {
  order: 10;
  align-self: center;
  display: block;
  margin: 30px auto 10px;
  outline: 0;
  background-color: white;
  border: 0;
  border-radius: 3px;
  width: 100px;
}
.login-form {
  width: 350px;
  height: 280px;
  margin: auto;
  background-color: #ff726b;
  box-shadow: 0 0 1em black;
  border-radius: 3px;
}
.login-form form {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  animation: invisiblility 0.5s forwards;
}
.login-form ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: 300;
}
.login-form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  opacity: 1;
  font-weight: 300;
}
.login-form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  opacity: 1;
  font-weight: 300;
}
.login-form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: 300;
}
.login-form input[type=text],
.login-form input[type=email],
.login-form input[type=password] {
  align-self: center;
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.25);
  margin: 15px auto 10px;
  width: 250px;
  text-align: center;
}
.login-form input[type=text]:focus,
.login-form input[type=email]:focus,
.login-form input[type=password]:focus {
  width: 280px;
  height: 120%;
  background-color: rgba(255, 255, 255, 0.6) !important;
}
.login-form input[type=text]:hover,
.login-form input[type=email]:hover,
.login-form input[type=password]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.login-form #text {
  order: 1;
  align-self: center;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  visibility: visible !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.login-form .button-form {
  order: 10;
  align-self: center;
  display: block;
  margin: 30px auto 10px;
  outline: 0;
  background-color: white;
  border: 0;
  border-radius: 3px;
  width: 100px;
}
.login-form .modal-dialog {
  width: 350px;
  height: 280px;
}
.signup-form {
  width: 400px;
  height: 610px;
  margin: auto;
  background-color: #ff726b;
  box-shadow: 0 0 1em black;
  border-radius: 3px;
}
.signup-form form {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  animation: invisiblility 0.5s forwards;
}
.signup-form ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: 300;
}
.signup-form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  opacity: 1;
  font-weight: 300;
}
.signup-form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  opacity: 1;
  font-weight: 300;
}
.signup-form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: 300;
}
.signup-form input[type=text],
.signup-form input[type=email],
.signup-form input[type=password] {
  align-self: center;
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.25);
  margin: 15px auto 10px;
  width: 250px;
  text-align: center;
}
.signup-form input[type=text]:focus,
.signup-form input[type=email]:focus,
.signup-form input[type=password]:focus {
  width: 280px;
  height: 120%;
  background-color: rgba(255, 255, 255, 0.6) !important;
}
.signup-form input[type=text]:hover,
.signup-form input[type=email]:hover,
.signup-form input[type=password]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.signup-form #text {
  order: 1;
  align-self: center;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  visibility: visible !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.signup-form .button-form {
  order: 10;
  align-self: center;
  display: block;
  margin: 30px auto 10px;
  outline: 0;
  background-color: white;
  border: 0;
  border-radius: 3px;
  width: 100px;
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    margin-top: 100px;
    width: 400px;
  }
}
/* Style the list */
ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
/* Float the list items side by side */
ul.tab li {
  float: left;
}
/* Style the links inside the list items */
ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
/* Change background color of links on hover */
ul.tab li a:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
ul.tab li a:focus,
.active {
  background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.graphtitle {
  font-size: 20px;
}
.graphXAxisTitle {
  font-size: 12px;
  font-color: #666;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.item-infos-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
