.header {
  background-color: #302e2e;
  overflow: auto;

  .left {
    float: left;

    h3 {
      color: #484848;
      font-weight: 600;
      padding-right: 15px !important;
      padding-top: 12px !important;
      padding-left: 15px !important;
      margin: 0 !important;
    }
  }

  .middle {
    margin: 0px 256px 0px 272px;
    padding-left: 5%;
    padding-right: 5%;
    form {
      padding: 10px;

      #search {
        // Leave it like that this is a less hack to prevent early compiling
        width: -moz-calc(~"100% - 113px");
        width: -webkit-calc(~"100% - 113px");
        width: calc(~"100% - 113px");
      }

      * {
        height: 30px;
      }
    }
  }

  .buttons-header {
    float: right !important;
    align-self: center;
    padding-right: 15px !important;
    a {
      display: block;
      text-align: center;
      color: #ffffff !important;
      font-weight: 300;
    }
    li:hover {
      background-color: #000000;
      a {
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
}

.btn {
  margin-left: 15px;
  &.red {
    background-color: #e00007;
    border-color: #ff5a5f #ff5a5f #e00007;
    color: #fff;
    &:hover {
      background-color: darkred;
    }
  }
}
