.navbar {
  background-color: #302e2e;
  padding-top: 50px;
  padding-bottom: 5px;
}
.navbar-brand {
  font-weight: 900 !important;
  margin-right: 40px !important;
  margin-left: 10px !important;
  padding: 0 !important;
  height: 20px !important;
  font-size: large;
}
.navbar-brand:hover {
  color: darkgray !important;
}
.navbar-brand:hover span {
  color: red;
}
.navbar-brand span {
  margin-right: 10px !important;
  color: #e00007;
  font-size: xx-large;
  top: 8px !important;
}
.navbar-right li a:hover {
  color: darkgray !important;
}
.navbar-searchbar input {
  width: 400px !important;
  background-color: #302e2e;
  border-color: #e00007;
  height: 30px !important;
}
.navbar-searchbar input:focus {
  border-color: red;
  box-shadow: 0 0 5px red;
}
.navbar-searchbar button {
  height: 30px !important;
  background-color: #e00007;
  border-color: #e00007;
  color: #ffffff;
}
.navbar-searchbar button:hover,
.navbar-searchbar button:active,
.navbar-searchbar button:focus {
  background-color: red !important;
  box-shadow: 0 0 5px red !important;
  border-color: red !important;
  color: #ffffff !important;
}
