html {
  position: relative;
  min-height: 100%;
  background-color: gainsboro;
}
body {
  background-color: gainsboro;
  margin-bottom: 90px;
  margin-top: 75px;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 17px;
  background-color: #302e2e;
  color: #777;
  text-align: center;
}
.navbar {
  background-color: #302e2e;
}
.navbar-brand {
  outline: 0;
  font-weight: 900 !important;
  margin-right: 40px !important;
  margin-left: 10px !important;
  padding: 0 !important;
  height: 20px !important;
  font-size: large;
}
.navbar-brand:hover {
  color: darkgray !important;
}
.navbar-brand:hover span {
  color: red;
}
.navbar-brand span {
  border-top: none !important;
  margin-right: 10px !important;
  color: #e00007;
  font-size: xx-large;
  top: 8px !important;
}
.navbar-right li a {
  top: 5px;
  padding-top: 10px !important;
  outline: 0;
  border-top: 2px solid #e00007;
}
.navbar-right li a:hover,
.navbar-right li a:active,
.navbar-right li a:focus {
  border-top: 2px solid red;
  color: darkgray !important;
  outline: 0;
}
.navbar-searchbar {
  padding-right: 40px;
  margin-top: 6px;
}
.navbar-searchbar input {
  width: 400px !important;
  background-color: #302e2e;
  border-color: #e00007;
  color: darkgrey;
  height: 35px !important;
}
.navbar-searchbar input:focus {
  border-color: red;
  box-shadow: 0 0 5px red;
}
.navbar-searchbar button {
  height: 35px !important;
  background-color: #e00007;
  border-color: #e00007;
  color: #ffffff;
}
.navbar-searchbar button:hover,
.navbar-searchbar button:active,
.navbar-searchbar button:focus {
  background-color: red !important;
  box-shadow: 0 0 5px red !important;
  border-color: red !important;
  color: #ffffff !important;
}
.btn {
  margin-left: 15px;
}
.btn.red {
  background-color: #e00007;
  border-color: #ff5a5f #ff5a5f #e00007;
  color: #fff;
}
.btn.red:hover {
  background-color: darkred;
}
.container {
  margin: auto;
  width: 100%;
}
.container .left {
  float: left;
  display: block;
  margin-left: 5%;
}
.container .right {
  float: right;
  display: block;
  margin-right: 5%;
}
.center {
  margin: auto;
  display: block;
  text-align: center;
}
.not-visible {
  display: none;
}
