html {
  position: relative;
  min-height: 100%;
  background-color: gainsboro;
}
body {
  background-color: gainsboro;
  margin-bottom: 90px;
  margin-top: 115px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #302e2e;
}
.footer .container {
  color: #777777;
  margin: 0;
  padding: 15px;
}
.navbar {
  background-color: #302e2e;
  padding-top: 40px;
  height: 95px;
}
.navbar-brand {
  outline: 0;
  font-weight: 900 !important;
  margin-right: 40px !important;
  margin-left: 10px !important;
  padding: 0 !important;
  height: 20px !important;
  font-size: large;
}
.navbar-brand:hover {
  color: darkgray !important;
}
.navbar-brand:hover span {
  color: #ff0000;
}
.navbar-brand span {
  border-top: none !important;
  margin-right: 10px !important;
  color: #e00007;
  font-size: xx-large;
  top: 8px !important;
}
.navbar-right li a {
  top: 5px;
  padding-top: 10px !important;
  outline: 0;
  border-top: 2px solid #e00007;
}
.navbar-right li a:hover,
.navbar-right li a:active,
.navbar-right li a:focus {
  border-top: 2px solid #ff0000;
  color: darkgray !important;
  outline: 0;
}
.navbar-searchbar {
  padding-right: 40px;
}
.navbar-searchbar input {
  width: 400px !important;
  background-color: #302e2e;
  border-color: #e00007;
  color: #a9a9a9;
  height: 30px !important;
}
.navbar-searchbar input:focus {
  border-color: #ff0000;
  box-shadow: 0 0 5px #ff0000;
}
.navbar-searchbar button {
  height: 30px !important;
  background-color: #e00007;
  border-color: #e00007;
  color: #ffffff;
}
.navbar-searchbar button:hover,
.navbar-searchbar button:active,
.navbar-searchbar button:focus {
  background-color: #ff0000 !important;
  box-shadow: 0 0 5px #ff0000 !important;
  border-color: #ff0000 !important;
  color: #ffffff !important;
}
.btn {
  margin-left: 15px;
}
.btn.red {
  background-color: #e00007;
  border-color: #ff5a5f #ff5a5f #e00007;
  color: #fff;
}
.btn.red:hover {
  background-color: darkred;
}
.container {
  margin: auto;
}
.container .left {
  float: left;
  display: block;
}
.container .right {
  float: right;
  display: block;
}
