@dark-grey: #302e2e;
@light-red: red;
@red: #e00007;

///////////////////////////////////
//// FOOTER //////////////////////
/////////////////////////////////
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 90px;
  margin-top: 115px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: @dark-grey;
  .container {
    margin: 0;
    padding: 15px;
  }
}

///////////////////////////////////
//// NAVBAR //////////////////////
/////////////////////////////////

.navbar {
  background-color: @dark-grey;
  padding-top: 40px;
  height:95px;
}

.navbar-brand {
  font-weight: 900 !important;
  margin-right: 40px !important;
  margin-left: 10px !important;
  padding: 0 !important;
  height: 20px !important;
  font-size: large;

  &:hover {
    color: darkgray !important;
    span {
      color: @light-red;
    }
  }

  span {
    margin-right: 10px !important;
    color: @red;
    font-size: xx-large;
    top: 8px !important;
  }
}

.navbar-right {
  li {
    a:hover {
      color: darkgray !important;
    }
  }
}

.navbar-searchbar {
  input {
    width: 400px !important;
    background-color: #302e2e;
    border-color: @red;
    color: darkgrey;
    height: 30px !important;
    &:focus {
      border-color: @light-red;
      box-shadow: 0 0 5px @light-red;
    }
  }

  button {
    height: 30px !important;
    background-color: @red;
    border-color: @red;
    color: #ffffff;
    &:hover, &:active, &:focus {
      background-color: @light-red !important;
      box-shadow: 0 0 5px @light-red !important;
      border-color: @light-red !important;
      color: #ffffff !important;
    }
  }
}
