@import "variables";

///////////////////////////////////
//// FOOTER //////////////////////
/////////////////////////////////
html {
  position: relative;
  min-height: 100%;
  background-color: gainsboro;
}

body {
  background-color: gainsboro;
  margin-bottom: 90px;
  margin-top: 75px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 17px;
  background-color: @dark-grey;
  color: @grey;
  text-align: center;
}

///////////////////////////////////
//// NAVBAR //////////////////////
/////////////////////////////////

.navbar {
  background-color: @dark-grey;
}

.navbar-brand {
  outline: 0;
  font-weight: 900 !important;
  margin-right: 40px !important;
  margin-left: 10px !important;
  padding: 0 !important;
  height: 20px !important;
  font-size: large;

  &:hover {
    color: darkgray !important;
    span {
      color: @light-red;
    }
  }

  span {
    border-top: none !important;
    margin-right: 10px !important;
    color: @red;
    font-size: xx-large;
    top: 8px !important;
  }
}

.navbar-right {
  li {
    a {
      top: 5px;
      padding-top: 10px !important;
      outline: 0;
      border-top: 2px solid @red;
      &:hover, &:active, &:focus {
        border-top: 2px solid @light-red;
        color: darkgray !important;
        outline: 0;
      }
    }

  }
}

.navbar-searchbar {
  padding-right: 40px;
  margin-top: 6px;

  input {
    width: 400px !important;
    background-color: @dark-grey;
    border-color: @red;
    color: @light-grey;
    height: 35px !important;
    &:focus {
      border-color: @light-red;
      box-shadow: 0 0 5px @light-red;
    }
  }

  button {
    height: 35px !important;
    background-color: @red;
    border-color: @red;
    color: #ffffff;
    &:hover, &:active, &:focus {
      background-color: @light-red !important;
      box-shadow: 0 0 5px @light-red !important;
      border-color: @light-red !important;
      color: #ffffff !important;
    }
  }
}

.btn {
  margin-left: 15px;
  &.red {
    background-color: #e00007;
    border-color: #ff5a5f #ff5a5f #e00007;
    color: #fff;
    &:hover {
      background-color: darkred;
    }
  }
}

.container {
  margin: auto;
  width: 100%;

  .left {
    float: left;
    display: block;
    margin-left: 5%;
  }

  .right {
    float: right;
    display: block;
    margin-right: 5%;
  }
}

.center {
  margin: auto;
  text-align: center;
}

// @width-loginModal: 300px;
// @height-loginModal: 320px;
// .login{
//   margin: auto;
//   //background-color: #FF4136;
//   background-color: #ff726b;
//   width: 600px;
//   height: 600px;
//   //animation: pulse 0.5s ease-in forwards;
//   box-shadow: 0 0 1em black;
//   border-radius: 3px;
//   form{
//     display: flex;
//     flex-direction: column;
//     margin-top: 5px;
//     animation: invisiblility 0.5s forwards;
//   }
//
//   ::-webkit-input-placeholder { /* WebKit browsers */
//     font-family: 'Source Sans Pro', sans-serif;
//     color:    black;
//     font-weight: 300;
//   }
//   :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
//     font-family: 'Source Sans Pro', sans-serif;
//     color:    black;
//     opacity:  1;
//     font-weight: 300;
//   }
//   ::-moz-placeholder { /* Mozilla Firefox 19+ */
//     font-family: 'Source Sans Pro', sans-serif;
//     color:    black;
//     opacity:  1;
//     font-weight: 300;
//   }
//   :-ms-input-placeholder { /* Internet Explorer 10+ */
//     font-family: 'Source Sans Pro', sans-serif;
//     color:    black;
//     font-weight: 300;
//   }
//
//   .inputLogin{
//     align-self: center;
//     display: block;
//     appearance: none;
//     outline: 0;
//     border: 1px solid fade(white, 40%);
//     background-color: fade(white, 25%);
//     width: 250px;
//     margin-top: 5px;
//     margin-bottom: 15px;
//     text-align: center;
//     //&:focus{
//     //  // background-color: white;
//     //  width: 280px;
//     //  height: 120%;
//     //  background-color: fade(white, 60%) !important;
//     //}
//     &:hover{
//       background-color: fade(white, 40%);
//     }
//   }
//   #text{
//     order: 1;
//     align-self: center;
//     color: black;
//     margin-top: 5px;
//     margin-bottom: 5px;
//     visibility: visible !important;
//     font-family: 'Source Sans Pro', sans-serif;
//     font-weight: 500;
//     font-size: 20px;
//   }
//   #username{
//     order: 2;
//     align-self: center;
//     //margin-top: 25px;
//   }
//
//   #password{
//     order: 5;
//     align-self: center;
//   }
//
//   #login-button{
//     order: 10;
//     align-self: center;
//     margin-top: 30px;
//     outline: 0;
//     background-color: white;
//     border: 0;
//     border-radius: 3px;
//     width: 100px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
//
// .signup_form{
//   text-align: center !important;
// }
//
// .signUp-modal{
//   width: 300px;
//   height: 420px;
// }
//
// .flex-container{
//   display: flex;
//   flex-direction: column;
// }
//
// .flex-item{
//   width: 500px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 5px;
// }
//
//
//
// @media screen and (min-width: 768px) {
//   .modal-dialog {
//     margin-top: 200px;
//     //display: table;
//     //  vertical-align: middle;
//   }
// }
