.graphtitle {
  font-size: 20px;
}
.graphXAxisTitle {
  font-size: 12px;
  font-color: #666;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.item-infos-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
