.modal-backdrop {
  background-color: transparent;
}
#login-modal .modal-dialog {
  width: 400px;
  position: absolute;
  margin: 0;
  top: 49px;
  right: 0;
}
#login-modal .modal-dialog .modal-content {
  background-color: #302e2e;
  box-shadow: none;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: solid 2px #e00007;
  border-bottom: solid 2px #e00007;
}
#signup-modal {
  background-color: rgba(0, 0, 0, 0.2);
}
#signup-modal .modal-dialog {
  min-width: 200px;
  top: 70px;
}
#signup-modal .modal-dialog .modal-content {
  background-color: #302e2e;
  box-shadow: none;
  border: solid 2px #e00007;
}
#signup-modal .modal-dialog:after {
  content: "";
  display: block;
  height: 70px;
}
.modal-header {
  color: #777777;
  border-bottom-color: #e00007;
  padding-bottom: 0;
  margin-bottom: 10px;
}
.modal-header p {
  font-size: 16px;
}
.modal-body form .input-group {
  width: 100%;
  padding: 1px;
}
.modal-body form .input-group input {
  background-color: #302e2e;
  border-color: #e00007;
  color: #a9a9a9;
}
.modal-body form .input-group input:focus {
  border-color: #ff0000;
  box-shadow: 0 0 5px #ff0000;
}
.modal-body form .input-group span {
  background-color: #e00007;
  border-color: #e00007;
}
.modal-body form .input-group span span {
  color: #ffffff;
}
.modal-body form button {
  width: 100%;
  height: 30px;
  margin-left: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: #e00007;
  border-color: #e00007;
  color: #ffffff;
}
.modal-body form button:hover,
.modal-body form button:active,
.modal-body form button:focus {
  background-color: #ff0000 !important;
  box-shadow: 0 0 5px #ff0000 !important;
  border-color: #ff0000 !important;
  color: #ffffff !important;
}
.modal-body form button span {
  margin-right: 5px;
}
.modal-body .alert {
  border: solid thin #e00007;
  background-color: #e00007;
  color: #a9a9a9;
  font-size: 12px;
  padding: 7px 7px 7px 12px;
  margin: 1px 0 0 0;
}
.modal-body .alert p {
  color: white;
}
.modal-body .alert p span {
  color: white;
  margin-right: 5px;
}
