@import "variables";

#title{
  text-align: center;
}
form{
  width: 200px;
  margin: 0 !important;
}

#productImage{
  width: 400px;
  margin-bottom: 10px;
}

#productIframe{
  width: 100%;
  height: 200px;
}

.btn{
  margin-left: 0;
}

#tabs{
  li {
    &.active {
      a {
        background-color: @red;
        color: @light-grey;
      }
    }
    a {
      color: @dark-grey;
      background-color: #ff5555;
    }
  }
}

#form{
  display: flex;
  flex-direction: row;
}