h3 {
  font-weight: bold;
  margin: 20px;
}
#main-product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}
#main-product-container #productImageLink {
  width: 400px;
  margin-bottom: 10px;
  margin-right: 20px;
  flex-shrink: 2;
  flex-grow: 0;
}
#main-product-container #productImage {
  max-width: 100%;
}
#main-product-container #tab-container {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 400px;
  margin-left: 20px;
  width: 1px;
}
#productIframe {
  width: 100%;
  height: 400px;
  border: 0;
}
#tabs li.active a {
  background-color: #e00007;
  color: #a9a9a9;
}
#tabs li a {
  color: #302e2e;
  background-color: #ff5555;
}
#top-button-bar form {
  display: inline-block;
}
#top-button-bar form:first-child .btn {
  margin-left: 0px;
}
.tab-pane {
  min-height: 300px;
}
#info table {
  margin-top: 5px;
  width: 100%;
}
#info table td:first-child {
  width: 70px;
}
#info table tr:nth-child(odd) {
  background-color: gainsboro;
}
#info table tr:nth-child(even) {
  background-color: #adadad;
}
