
@import "variables";

@box-width: 45%;
@box-height: 500px;

#profile-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  #products-list, #product-graph {
    height: 500px;
    min-width: 500px;
    width: 1px;
    flex-grow: 1;
  }

  #products-list {
    overflow-y: scroll;
    overflow-x: visible;
    border: 1px solid black;
    margin-right: 10px;

    .item {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;

      a {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      a:link {
        color: @link-color;
      }

      a:visited {
        color: @link-color;
      }

      a:hover {
        color: @link-color;
      }

      a:active {
        color: @link-color;
      }

      a:hover {
        text-decoration: none;
      }
    }

    .item:hover {
      background-color: @light-red;
    }
  }

  #product-graph {
    margin-left: 10px;
  }
}


.title-tooltip {
  display: block;
  width: 200px;

  font-weight: bold;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden !important;
}

.price-tooltip {
  display: block;
  margin-top: 10px;

  font-size: 14px;
}

.selected {
  background-color : @red;

  a:link {
    color: @selected-link !important;
  }

  a:visited {
    color: @selected-link !important;
  }

  a:hover {
    color: @selected-link !important;
  }

  a:active {
    color: @selected-link !important;
  }
}

#NoItemClickContainer {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  border: 1px solid black;

  #NoItemClickText {
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
  }
}